footer {
    background-color: #ffffff;
    border-top: 0.25rem solid #23893b;
}

h5 {
    color: #23893b;
}

ul {
    list-style-type: none;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #23893b;
}

.gray {
    color: gray;
}

.fa-facebook-square:hover {
    color: #3B5998;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #833ab4;
    text-decoration: none;
}

.fa-twitter:hover {
    color: #55ACEE;
    text-decoration: none;
}

.fa-youtube:hover {
    color: #bb0000;
    text-decoration: none;
}