<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md text-center">
        <a href="https://tsv-willsbach.de/" target="_blank" rel="noopener">
          <img
            class="img-responsive"
            src="assets/images/tsv_willsbach.png"
            alt="Willsbach Logo"
          />

          <small class="d-block mb-3 text-muted">Hauptverein</small>
        </a>
      </div>

      <!-- <div class="col-6 col-md" *ngFor="let node of nodes">
        <h5>{{node.title}}</h5>
        <ul class="list-unstyled text-small">
          <li *ngFor="let item of node.children">
            <a class="text-muted" [href]="item.url" [title]="item.tooltip || item.title" [routerLink]="item.router">{{
              item.title }}</a>
          </li>
        </ul>
      </div> -->

      <div class="col-6 col-md">
        <h5>Social Media</h5>
        <ul class="row social-media">
          <li class="col-6">
            <a
              href="https://www.youtube.com/channel/UCJeUqnTrFeGtNk5OW1ipZXw"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Youtube</span>
              <!-- <i aria-hidden="true" class="fa fa-youtube gray fa-3x"></i> -->
              <fa-icon
                class="social youtube"
                [icon]="['fab', 'youtube']"
                size="3x"
              ></fa-icon>
            </a>
          </li>
          <li class="col-6">
            <a
              href="https://www.facebook.com/tsvwillsbachhandball"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Facebook</span>
              <!-- <i aria-hidden="true" class="fa fa-facebook-square gray fa-3x"></i> -->
              <fa-icon
                class="social facebook"
                [icon]="['fab', 'facebook']"
                size="3x"
              ></fa-icon>
            </a>
          </li>
          <li class="col-6">
            <a
              href="https://www.instagram.com/tsvwillsbachhandball/"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Instagram</span>
              <!-- <i aria-hidden="true" class="fa fa-instagram gray fa-3x"></i> -->
              <fa-icon
                class="social instagram"
                [icon]="['fab', 'instagram']"
                size="3x"
              ></fa-icon>
            </a>
          </li>
          <li class="col-6">
            <a
              href="https://twitter.com/willsbach_hndbl"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Twitter</span>
              <!-- <i aria-hidden="true" class="fa fa-twitter gray fa-3x"></i> -->
              <fa-icon
                class="social twitter"
                [icon]="['fab', 'twitter']"
                size="3x"
              ></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Webseiten Entwicklung</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="social facebook"
              href="https://bitbucket.org/tsvwillsbachhandball/"
              target="_blank"
              rel="noopener"
            >
              <fa-icon [icon]="['fab', 'bitbucket']"></fa-icon> Bitbucket Team
            </a>
          </li>
          <li>
            <a
              class="social youtube"
              href="https://willsbach.atlassian.net/servicedesk/customer/portals"
              target="_blank"
              rel="noopener"
            >
              <fa-icon [icon]="['fas', 'bug']"></fa-icon> Fehler melden
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md text-center">
        <figure>
          <img
            class="img-responsive"
            src="assets/images/handball_logo_mit_text.svg"
            alt="Handball Logo"
          />
          <small class="d-block mb-3 text-muted"
            >&copy; 2017-2021 - Version: {{ appVersion }}</small
          >
        </figure>
      </div>
    </div>
  </div>
</footer>
