<footer class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md">
        <img class="img-responsive" src="assets/images/handball_willsbach.png">

        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Verein</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Chronik</a>
          </li>
          <li>
            <a class="text-muted" href="#">Trainingszeiten</a>
          </li>
          <li>
            <a class="text-muted" href="#">Schiedsrichter</a>
          </li>
          <li>
            <a class="text-muted" href="#">Download</a>
          </li>
        </ul>
      </div>


      <div class="col-6 col-md">
        <h5>Formales</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Impressum</a>
          </li>
          <li>
            <a class="text-muted" href="#">Sponsoren</a>
          </li>
          <li>
            <a class="text-muted" href="#">Kontakt</a>
          </li>
          <li>
            <a class="text-muted" href="#">Förderverein</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5>Social Media</h5>
        <ul class="list-unstyled text-small social-grid">
<!--           <li>
            <a class="text-muted block" href="#">Youtube</a>
          </li> -->
          <li> 
            <a class="text-muted facebook" href="#">Facebook</a>
          </li>
       <!--    <li>
            <a class="text-muted block" href="#">Instagram</a>
          </li>
          <li>
            <a class="text-muted block" href="#">Twitter</a>
          </li> -->
        </ul>
      </div>


    </div>
  </div>
</footer>