<footer class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md">
        <img class="img-responsive" src="assets/images/handball_willsbach.png">

        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>

      <div class="col-6 col-md" *ngFor="let node of nodes">
        <h5>{{node.title}}</h5>
        <ul class="list-unstyled text-small">
          <li *ngFor="let item of node.children">
            <a class="text-muted" [href]="item.url" [title]="item.tooltip || item.title">{{ item.title }}</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5>Social Media</h5>
        <ul class="list-unstyled text-small social-grid">
          <li>
            <a class="fa fa-youtube gray fa-3x" href="https://www.youtube.com/channel/UCJeUqnTrFeGtNk5OW1ipZXw" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-facebook-square gray fa-3x" href="https://www.facebook.com/tsvwillsbachhandball" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-instagram gray fa-3x" href="https://www.instagram.com/tsvwillsbachhandball/" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-twitter gray fa-3x" href="https://twitter.com/willsbach_hndbl" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
    <p> Version {{versionInfo?.full}}. </p>
  </div>
</footer>