<app-spinner *ngIf="showSpinner"></app-spinner>

<mdb-carousel [isControls]="true" class="carousel slide carousel-slide" [animation]="'slide'">

  <div *ngFor="let team of teams; let i = index">
    <mdb-slide>
      <div class="view">
        <img class="d-block w-100" src="{{team.media_details.sizes.large.source_url}}" alt="{{team.alt_text}}">
        <div class="mask rgba-black-slight waves-dark" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{team.alt_text}}</h3>
        <p>{{team.caption.rendered}}</p>
      </div>
    </mdb-slide>
  </div>
</mdb-carousel>