@import '../../../variables';
.column {
    float: left;
    width: 40%;
}

td a {
    color: $color-club;
    font-weight: bold;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#playerTable {
    table-layout: fixed;
    border-collapse: collapse;
    td {
        width: 25%;
    }
}