<ol class="breadcrumb">
  <li>
    <a href="#" [routerLink]="[ '/team', teamID ]">{{team.name}}</a>
  </li>
  <li class="active">Trainer & Spieler</li>
</ol>

<h3 class="heading ">Trainer</h3>
<div *ngIf="team.trainer?.length > 0; else noTrainer">
  <div *ngFor="let trainer of team.trainer ">

    <br />
    <div class="row ">
      <div class="column ">
        <img src="{{trainer.picture}} " class="w-50 img-fluid img-thumbnail mx-auto d-block "
          alt="{{trainer.name}}, {{trainer.prename}} ">
      </div>
      <div class="column " style="margin-left: 10%; ">
        <h5>{{trainer.prename}} {{trainer.name}}</h5>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>

<h3 class="heading ">Spieler</h3>
<div *ngIf="team.players?.length > 0; else noPlayers">
  <table style="width:100% " id="playerTable " class="table table-responsive table-striped table-bordered table-hover ">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Position</th>
      <th>Geburtstag</th>
      <th>im Verein seit</th>
      <th></th>
    </tr>
    <tr>
      <th (click)="sortPlayer('number')">
        <fa-icon [icon]="['fas', 'sort']"></fa-icon>
      </th>
      <th (click)="sortPlayer('names')">
        <fa-icon [icon]="['fas', 'sort']"></fa-icon>
      </th>
      <th>
        <!-- <i class="fa fa-sort" aria-hidden="true" (click)="sortPlayer('position')"></i> -->
      </th>
      <th (click)="sortPlayer('birthday')">
        <fa-icon [icon]="['fas', 'sort']"></fa-icon>
      </th>
      <th>
        <!-- <i class="fa fa-sort" aria-hidden="true" (click)="sortPlayer('joinedClub')"></i> -->
      </th>
      <th></th>
    </tr>
    <tr *ngFor="let player of team.players">
      <td>{{player.number}}</td>
      <td class="playerName ">
        <a [routerLink]="[ './', player.prename + '_' + player.name] ">
          {{player.prename}} {{player.name}}
        </a>
      </td>
      <td>
        <div *ngFor="let position of player.position">
          {{position}}
        </div>
      </td>
      <td>{{player.birthday | date: 'dd.MM.yyyy' }}</td>
      <td>{{player.joinedClub}}</td>
      <td>
        <a [routerLink]="[ './', player._id ] ">
          Details
        </a>
      </td>
    </tr>
  </table>

</div>
<br />


<ng-template #noTrainer>
  <p>Kein Trainer vorhanden oder noch nicht eingetragen</p>
</ng-template>
<ng-template #noPlayers>
  <p>Kein Spieler vorhanden oder noch nicht eingetragen</p>
</ng-template>