<h2 class="heading">{{team.title}}</h2>
<div class="text-center">
  <img src="{{team.picture}}" class="img-fluid" alt="{{team.title}}">
  <br />
  <br />
  <button class="btn btn-dark btn-lg btn-block waves-light" [routerLink]="[ './players']" mdbWavesEffect>
    <fa-icon [icon]="['fas', 'users']" size="lg"></fa-icon> Trainer & Spieler
  </button>
  <button class="btn btn-dark btn-lg btn-block waves-light" [routerLink]="[ './gallery']" mdbWavesEffect>
    <fa-icon [icon]="['fas', 'images']" size="lg"></fa-icon> Mannschaftsfotos
  </button>
  <button class="btn btn-dark btn-lg btn-block waves-light" [routerLink]="[ './reports']" mdbWavesEffect>
    <fa-icon [icon]="['far', 'newspaper']" size="lg"></fa-icon> Berichte
  </button>
  <button class="btn btn-dark btn-lg btn-block waves-light" [routerLink]="[ './games']" mdbWavesEffect>
    <fa-icon [icon]="['fas', 'calendar']" size="lg"></fa-icon> Nächste Spiele
  </button>
  <button class="btn btn-dark btn-lg btn-block waves-light" [routerLink]="[ './results']" mdbWavesEffect>
    <fa-icon [icon]="['fas', 'chart-line']" size="lg"></fa-icon> Ergebnisse
  </button>
</div>
<br />
<br />