@import '../../../variables';

a {
    color: $color-club;
}

td a .fa {
    color: red;
}

.club {
    color: $color-club;
}

.pdf {
    color: red;
}

.referee {
    color: black;
}

.win {
    color: green;
}

.draft {
    color: yellow;
}

.lose {
    color: red;
}