<h2 class="heading">Ausrüster</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>SPORTBEDARF.DE</h3>
      <a
        href="https://www.sportbedarf.de/Vereinskollektionen--TSV-Willsbach/"
        target="_blank"
        alt="Vereinskollektion TSV Willsbach"
        rel="noopener"
        >www.sportbedarf.de</a
      >
    </div>
  </div>
  <div class="row">
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col centered">
      <a
        href="https://www.sportbedarf.de/Vereinskollektionen--TSV-Willsbach/"
        target="_blank"
        rel="noopener"
      >
        <img
          src="assets/images/outfitter/640x480.jpg"
          alt="Vereinskollektion TSV Willsbach"
          class="img-fluid"
        />
      </a>
    </div>
  </div>
  <br />
  <br />
</div>

<!-- <h2 class="heading">Sponsoren</h2> -->

<h3 class="heading">Premium Sponsoren</h3>
<app-spinner *ngIf="showPremiumSpinner"></app-spinner>
<div *ngIf="premiumSponsors !== undefined">
  <div *ngIf="premiumSponsors.length > 0; else noSponsor">
    <ng-container
      *ngTemplateOutlet="sponsor; context: { mySponsorType: premiumSponsors }"
    >
    </ng-container>
  </div>
</div>

<h3 class="heading">Gold Sponsoren</h3>
<app-spinner *ngIf="showGoldSpinner"></app-spinner>
<div *ngIf="goldSponsors !== undefined">
  <div *ngIf="goldSponsors.length > 0; else noSponsor">
    <ng-container
      *ngTemplateOutlet="sponsor; context: { mySponsorType: goldSponsors }"
    >
    </ng-container>
  </div>
</div>

<h3 class="heading">Silber Sponsoren</h3>
<app-spinner *ngIf="showSilverSpinner"></app-spinner>
<div *ngIf="silverSponsors !== undefined">
  <div *ngIf="silverSponsors.length > 0; else noSponsor">
    <ng-container
      *ngTemplateOutlet="sponsor; context: { mySponsorType: silverSponsors }"
    >
    </ng-container>
  </div>
</div>

<h3 class="heading">Bronze Sponsoren</h3>
<app-spinner *ngIf="showBronzeSpinner"></app-spinner>
<div *ngIf="bronzeSponsors !== undefined">
  <div *ngIf="bronzeSponsors.length > 0; else noSponsor">
    <ng-container
      *ngTemplateOutlet="sponsor; context: { mySponsorType: bronzeSponsors }"
    >
    </ng-container>
  </div>
</div>

<br />
<h2 class="heading">Spender</h2>
<div class="centered">
  <ul class="cloud">
    <li>Miguel Gebhardt</li>
  </ul>
</div>

<ng-template #noSponsor>
  <p>Keine Sponsoren vorhanden.</p>
  <p>
    Hier könnte aber Ihr Logo stehen.<br />
    Sie können unter:<br />
    <a href="mailto:sponsoring@willsbach-handball.de"
      >sponsoring@willsbach-handball.de</a
    ><br />
    Kontakt mit uns aufnehmen.
  </p>
  <br />
</ng-template>

<ng-template #sponsor let-sponsorType="mySponsorType">
  <div class="container-fluid" *ngFor="let sponsor of sponsorType">
    <div class="row">
      <div class="col" *ngIf="sponsor.url !== null">
        <a href="{{ sponsor.sponsor.url }}" target="_blank" rel="noopener">
          <img
            src="{{ sponsor.url }}"
            alt="{{ sponsor.alt_text }}"
            class="img-fluid logo"
          />
        </a>
      </div>
      <div class="col">
        <h3 [innerHTML]="sponsor.caption">{{ sponsor.caption }}</h3>
        <a href="{{ sponsor.sponsor.url }}" target="_blank" rel="noopener">{{
          sponsor.sponsor.url
        }}</a>
      </div>
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <br /><br />
    <br /><br />
  </div>
</ng-template>
