<header class="py-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a href="#">
        <img src="assets/images/tsv_willsbach.png" class="logo" alt="Willsbach Logo" />
      </a>

      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="onHamburgerButtonClick()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngClass]="navbar" [ngStyle]="style" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let node of nodes" [ngClass]="node.children.length > 0 ? 'nav-item dropdown active' : 'nav-item active'" (mouseenter)="selectedItem = node.title">
            <a [ngClass]="node.children.length > 0 ? 'nav-link dropdown-toggle px-5' : 'nav-link  px-5'" [href]="node.router" [routerLink]="node.router"
              routerLinkActive="active">{{node.title}}
            </a>

            <div [ngClass]="{ 'dropdown-menu': true, 'show' : selectedItem === node.title }" aria-labelledby="navbarDropdown" *ngIf="node.children.length > 0"
              (mouseleave)="selectedItem = ''">
              <a class="dropdown-item" [routerLink]="[node.router, item.router]" *ngFor="let item of node.children" (click)="selectedItem = item.title">{{item.title}}</a>
            </div>
          </li>
        </ul>
        <a class="btn btn-sm btn-outline-secondary" href="#" [routerLink]="['./login']">
          <span class="fa fa-sign-in"></span> Login</a>
      </div>

    </div>
  </nav>
</header>