.logo {
    max-height: 3rem;
}

a:hover {
    color: var( --clubColor) !important;
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    border-top: 0.25rem solid var( --clubColor);
}