@import '../../variables';

.logo {
    max-height: 3rem;
}

a:hover {
    color: $color-club !important;
    text-decoration: none !important;
}

.dropdown-menu {
    border-top: 0.25rem solid $color-club;
}