<div class="container" *ngFor="let sponsor of sponsors">
  <div class="row">
    <div class="column">
      <a href="{{sponsor.acf.sponsorUrl}}" target="_blank">
        <img src="{{sponsor.source_url}}" alt="{{sponsor.alt_text}}" width="{{sponsor.media_details.width}}" height="{{sponsor.media_details.height}}">
      </a>
    </div>
    <div class="column">
      <h3>{{sponsor.caption.rendered}}</h3>
      <a href="{{sponsor.acf.sponsorUrl}}" target="_blank">{{sponsor.acf.sponsorUrl}}</a>
    </div>
  </div>
  <br />
  <br />
</div>