<h2 class="heading">Kontakt</h2>
<div class="row">
  <div class="column" *ngFor="let contact of contacts.contacts">
    <div class="card">
      <img src="{{contact.picture}}" alt="{{contact.prename}} {{contact.name}}" class="img-fluid img-thumbnail">
      <div class="container">
        <h2>{{contact.prename}} {{contact.name}}</h2>
        <p class="title">{{contact.position}}</p>
        <p>{{contact.email}}</p>
        <p><a href="mailto:{{contact.email}}"><button class="button">Kontaktieren</button></a></p>
      </div>
    </div>
  </div>
</div>