<table id="{{ligaName}}" style="width:100%" class="table table-responsive table-striped table-bordered">
  <tr>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Halle</th>
    <th>Heimteam</th>
    <th>Gästeteam</th>
    <th>Endstand</th>
    <th>Halbzeitstand</th>
    <th></th>
    <!-- <th>Live?</th> -->
  </tr>
  <tr *ngFor="let game of games">
    <td>{{game.gDate}}</td>
    <td>{{game.gTime}}</td>
    <td>
      <a href="{{buildGymnUrl(game)}}" target="_blank" class="url">
        {{game.gGymnasiumName}}, {{game.gGymnasiumTown}}
      </a>
    </td>
    <td>{{game.gHomeTeam}}</td>
    <td>{{game.gGuestTeam}}</td>
    <td>
      <div *ngIf="game.gHomeGoals != ' '">
        {{game.gHomeGoals}} : {{game.gGuestGoals}}
      </div>
    </td>
    <td>
      <div *ngIf="game.gHomeGoals_1 != ' '">
        {{game.gHomeGoals_1}} : {{game.gGuestGoals_1}}
      </div>
    </td>
    <td>
      <div *ngIf="game.sGID != '0';else referee">
        <a href="{{game.pdfDL}}" target="_blank">
          <fa-icon [icon]="['fas', 'file-pdf']" size="lg" class="pdf"></fa-icon>
          Presseinfo
        </a>
      </div>
    </td>
    <ng-template #referee>
      <div *ngIf="game.live == true">
        <a [routerLink]="[ '/ticker/', game.gToken] " class="Ticker">
          <fa-icon [icon]="['fas', 'bell']" size="lg"></fa-icon>
          Liveticker
        </a>
        <br />
        <br />
      </div>
      <div *ngIf="game.gReferee != ' '">
        <!-- <img src="https://h4allapp.it4sport.de/dist/assets/images/icon-whistle.png"> -->
        <fa-icon [icon]="['fas', 'user']" size="lg" class="referee"></fa-icon>
        {{game.gReferee}}
      </div>
    </ng-template>
  </tr>

</table>