<h2 class="heading">Live Ticker</h2>

<p>
  Live-Ticker beim HVW öffnen:
  <a href="http://spo.handball4all.de/service/ticker.html?appid=&token={{tokenId}}" target="_blank">HVW Ticker</a>
</p>

<button type="button" class="btn btn-link btn-lg btn-block" (click)="getData()">
  <i class="fa fa-refresh" aria-hidden="true"></i> Aktualisieren</button>
<br />

<h3>Spiel Informationen</h3>
<br />

<h4>{{gameInfo.class_lname}}</h4>
<div>
  {{gameInfo.datetime | date:'dd.MM.yyyy HH:mm' }}
  <br />
  {{gameInfo.home_lname}} vs. {{gameInfo.guest_lname}}
  <br />
  Spielzeit: {{gameTime | convert2GameTime}}
  <br />
  Stand: {{gameScore}}
  <br />
  Schiedsrichter: {{gameInfo.report.refereeA.prename}} {{gameInfo.report.refereeA.name}},
  {{gameInfo.report.refereeB.prename}} {{gameInfo.report.refereeB.name}}
</div>
<br />

<h3>Mannschaftsinformationen</h3>
<br />
<app-player-game-table [teamName]="gameInfo.home_lname" [team]="this.teams.home"></app-player-game-table>
<br />
<app-player-game-table [teamName]="gameInfo.guest_lname" [team]="this.teams.guest"></app-player-game-table>
<br />

<h4>Verlauf</h4>
<table id="{{gameInfo.class_lname}}" style="width:100%" class="table table-responsive table-striped table-bordered">
  <tr>
    <th>Spielzeit</th>
    <th>Spielstand</th>
    <th>Info</th>
  </tr>
  <tr *ngFor="let detail of gameDetail">
    <td>{{detail.game_time | convert2GameTime}}</td>
    <td>{{detail.home_score}} : {{detail.guest_score}}</td>
    <td>{{detail.message}}</td>
  </tr>
</table>