<h1>Vereinschronik</h1>
<br />
<b>61 Jahre und kein bisschen leise . . .</b>
<br />
<p>
    Wir beginnen unsere kleine Zeitreise 1946, dem Gründungsjahr der Handballabteilung. Nachdem bis 1948 in Willsbach Rasenhandball gespielt wurde, verfiel die Abteilung in einen Dornröschenschlaf, der 34 Jahre andauern sollte. Wachgeküsst wurde sie 1982 von 13 spiellustigen weiblichen Wesen zwischen 17 und 32 Jahren, unter der Führung von Dagmar Köpf. Sie bildeten die erste Damen-Handballmannschaft der „Neuzeit“. Dieses Ereignis markiert somit den Beginn der Handballabteilung des TSV Willsbach, sowie wir sie heute kennen. Die Turnierspiele wurden zunächst auf dem Hartplatz der Grund- und Hauptschule Willsbach ausgetragen, da die Realschulhalle nicht die geforderten Abmessungen aufwies.
    Ab Januar 1983 konnte mit dem neuen Trainer Rainer Schmautz ein intensives Trainingsprogramm absolviert werden, mit dem Ziel sich in die Kreisklasse emporzuarbeiten. Mit viel Tatkraft, Einsatz und guter Kameradschaft wurde dieses auch erreicht. Bereits 1984 konnten einige Neuzugänge verzeichnet werden, die sich schnell in die bestehende Mannschaft integrierten. Durch gemeinsame Feste wurde der Zusammenhalt der Mannschaft weiter gefestigt.
    Durch den häufigen Wechsel von Spielerinnen konnten 1985 die gesteckten Ziele nicht erreicht werden. Hinzu kam noch, dass das Training im Winter in einer Halle durchgeführten werden musste, die nicht die vorgeschriebene Größe hatte. Dies führte zu Anpassungsschwierigkeiten bei Punktspielen. Höhepunkt des Jahres 1985 war das erstmals auf dem Hartplatz der Grund- und Hauptschule durchgeführte Gerümpelturnier, an dem zwölf Mannschaften teilnahmen.
    Im März 1986 wurde die erste Herrenmannschaft, bestehend aus 24 Handballern, gegründet. Wegen fehlender Hallenkapazitäten mussten zunächst Damen- und Herrenmannschaft gemeinsam trainieren. Im Juni des selben Jahres fand das 2. Gerümpelturnier statt, das dieses Mal von Mitgliedern beider Mannschaften gestaltet und durchgeführt wurde. Nach einem Trainerwechsel wurde die Herrenmannschaft von Reiner Schmautz und die Damen von Stefan Häcker trainiert.
    Auf unserer kleinen Zeitreise sind wir inzwischen im Jahr 1987 angelangt. Im März fand unsere gut besuchte Abteilungsversammlung statt auf der wir auch den 1. Vorsitzenden Manfred Herrmann begrüßen durften. Er brachte in wenigen Worten seine Freude über das Engagement der Handballabteilung zum Ausdruck und sagte uns jetmögliche Unterstützung zu. Gabrielle Teigler wurde zur neuen Abteilungsleiterin und Jürgen Ergenzinger zu ihrem Stellvertreter gewählt. Des weiteren bildete man einen Ausschuss innerhalb der Abteilung.
    Am 23.5.87 wurde das 3. Gerümpelturnier durchgeführt, welches durch schlechtes Wetter und Absagen von Mannschaften leider kein großer Erfolg war. Das 1. Aktiventurnier am 18.6.87 wurde dagegen ein voller Erfolg. Im Sommer wurde der Fortbestand der Damenmannschaft, wegen Spielerinnenmangel, fraglich. Durch eine Werbeaktion mit Plakaten und Anzeigen im örtlichen Nachrichtenblatt konnten die Damen Mitte August ihr Training mit zehn Neuzugängen wieder aufnehmen. Auch die Herren bekamen Zuwachs. Um möglichst alle Spieler aktiv einsetzen zu können meldeten wir neben den Damen erstmals zwei Herrenmannschaften zur neuen Hallenrunde.
    Zum Ende der Hallenrunde 87/88 konnte die Damenmannschaft einen 3. Platz in der Kreisliga 3 verbuchen. Bei den Herren zeigte sich allerdings, nach wenigen Wochen, dass die Meldung der zweiten Mannschaft verfrüht war. Durch zahlreiche Verletzungen war sie zeitweise so geschwächt, dass die Quittung am Ende der Runde kam. Die Mannschaft konnte keinen einzigen Pluspunkt erspielen, während die erste Mannschaft sechs Punkte auf die positive Seite brachte.
    Rainer Schmautz musste nach einem kurzen Gastspiel eines anderen Trainers die Vorbereitung der Damen zur neuen Hallenrunde wieder übernehmen. Für die Saison 88/89 meldeten wir nur noch eine Herrenmannschaft, welche die Runde auf einem mittleren Tabellenplatz in der Kreisliga 3 abschloss. Da in Obersulm keine, für Punktspiele, geeignete Halle vorhanden war wurden alle Spiele in Bretzfeld ausgetragen. Anfang Juni 1990 hatte die Suche der Damenmannschaft nach einem neuen Trainer endlich Erfolg. Der personelle Engpass bei den Herren konnte noch vor den Sommerferien beseitigt werden. Sieben neue Spieler kamen dazu und die Winterrunde 90/91 wurde ohne große Erwartungen gestartet. Fazit dieser Runde: Damen – Platz in der Tabellenmitte; Herren – letzter Tabellenplatz. Im selben Jahr wurde Ingrid Kussmann Abteilungsleiterin.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_0.jpg">
<br /><br />
<p>
    Als nächstes wurde das Ziel in Angriff genommen die erste Jugendhandballmannschaft in Willsbach aufzubauen. Trainer Rainer Schmautz konnte zunächst nur mit sechs jungen Handballspielern trainieren. Durch eine Werbeaktion der Kinder mit selbstgestalteten Plakaten konnte diese bescheidene Anzahl jedoch im Sommer 1991 auf elf erhöht werden. An einer Spielrunde wollten wir uns noch nicht beteiligen, aber an Freundschaftsspielen und einem Turnier. Leider gab es bis zu diesem Zeitpunkt immer noch keine für den Handballsport spielgerechte Halle. Gemeinsames Training der Damen u. Herren in der Realschulhalle Willsbach.
    1992 hatte sich die Anzahl der Jugendlichen bereits auf 15 erhöht und wir entschlossen uns nach einem vielversprechenden Freundschaftsspiel gegen Degmarn-Oedheim, erstmalig seit Bestehen der Handballabteilung, eine männliche C-Jugend zur offiziellen Sommerrunde 93 zu melden. Am 23.5.93 und 12.6.93 waren die ersten Spieltage an denen, durch die Unerfahrenheit unserer jungen Mannschaft, natürlich kein gutes Ergebnis zu erzielen war.
    In der Winterrunde 92/93 holten sich die Damen mit ihrem Trainer Stefan Häcker erstmals den Meistertitel in der Kreisliga 3.
    Für die Herrenmannschaft wurde es Ende September 1992 wieder ernst. Nach einem Trainerwechsel konnte man den erfahrenen Branko Mijatovic für die Truppe gewinnen. Während der spielfreien Zeit fand unsere jährliche Skiausfahrt statt, denn schon damals waren Feste und Ausflüge wichtig für den Zusammenhalt der Mannschaft.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_1.jpg">
<img src="../assets/images/chronicle/chronik_handball_img_2.jpg">
<br /><br />
<p>
    In der darauffolgenden Winterrunde belegten die Herren einen überraschenden 6. Platz, unter elf teilnehmenden Mannschaften, in der Kreisliga 3.
    Jürgen Ergenzinger übernahm 1993 die Leitung der Handballabteilung. In der Saison 93/94 erspielte sich die männliche C-Jugend den zweiten Platz. Im August fuhr die Mannschaft erstmals zum Jugendturnier nach Wernau. Spielerisch konnte man zwar nicht ganz mithalten, doch kameradschaftlich war das Turnier ein voller Erfolg.
    Bei den Damen wurde der Klassenerhalt in der Kreisliga 2 leider nicht erreicht. Die Herren mussten diese Runde wieder einmal ohne Trainer bewältigen und schlossen mit einem zufriedenen fünften Tabellenplatz ab. Als neuen Trainer für die Herrenmannschaft konnte im Juni 1994 der Weinsberger Wilfried Hagenloch gewonnen werden.
    Einen tollen Erfolg verbuchte die männliche Jugend in der Runde 94/95 für sich. Obwohl sie erst seit drei Jahren bestand holte sie sich den Wimpel und wurde Meister in der Kreisliga.
    Im Oktober 1994 begann die erste weibliche C-Jugendmannschaft ihr Training und Joachim Meier und Reiner Schmautz arbeiteten schon daran die erste Minihandballgruppe aufzubauen. Für unsere Herren war es eine sportlich erfolgreiche Runde. Mit 20:12 Punkten erreichte sie den dritten Tabellenplatz.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_3.jpg">
<br /><br />
<p>
    Im Frühjahr 1997 wurde Stefan Häcker zum neuen Abteilungsleiter gewählt. In der Hallenrunde 96/97 waren sowohl die männliche B- als auch die C-Jugend erfolgreich. Beide Mannschaften wurden Kreismeister. Die B-Jugend ungeschlagen ohne einen einzigen Punkt abzugeben und die CJugend machte die Meisterschaft beim letzten Spieltag in Erlenbach mit einem Punkt Vorsprung perfekt. Unser Dank gilt hier noch der Gemeinde Erlenbach, die bereit war uns als Gastverein aufzunehmen damit wir unsere Punktspiele austragen konnten. Die Kosten für die Hallenmiete waren nicht unerheblich, aber wir sind stolz darauf diese Hürde ebenfalls gemeistert zu haben.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_4.jpg">
<br /><br />
<p>
    Die Damen standen am Ende auf dem 3. Platz und auch die weibliche C-Jugend belegte einen guten Platz im Mittelfeld.
    Im Sommer 1996 fingen erstmals zwei gemischte E-Jugendmannschaften mit dem Spielbetrieb an.
         
    
    97/98 waren für die Abteilung erfolgreich:
</p>
<ul>
  <li>wB-Jugend ohne Niederlage Kreismeister</li>
  <li>Damen Klassenerhalt</li>
  <li>Herren Vizemeister und Aufstieg</li>
</ul>
<p>
    98/99 bekam unsere Herrenmannschaft Verstärkung durch den A-Jugendspieler Marc Neumann, der mit einem Doppelspielrecht als erster Jugendlicher, aus den eigenen Reihen, den Schritt in den Aktiven-Handball gewagt hatte. Die wB-Jugend holte sich erneut die Meisterschaft. Mit einer wEJugend wurde eine weitere Mannschaft zum Spielbetrieb gemeldet. Klaus Burkhard wurde neuer Abteilungsleiter.
    
    99/00 hatte die Herrenmannschaft eine Verjüngungskur vollzogen. Zum größten Teil bestand sie nun aus Spielern unserer eigenen Jugend. Mit nur einem verlorenen Spiel, unter ihrem Trainer Oliver Rieth, wurde diese junge Mannschaft Meister in der Kreisliga 4. Durch den Wegfall einer Spielklasse stiegen sie direkt in die Kreisliga 2 auf.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_5.jpg">
<br /><br />
<p>Die Damen belegten den 2. Platz und die wE-Jugend wurde mit 20:0 Punkten Meister.</p>
<img src="../assets/images/chronicle/chronik_handball_img_6.jpg">
<br /><br />
<p>
    Nach Neuzugängen aus Weinsberg entschloss sich der Trainer voll auf Jugend zu setzen und für die älteren, noch aktiven Spieler, in der kommenden Runde eine zweite Herrenmannschaft zu melden.
    
     
    
    Ende 2000 wurde der „Förderverein der Abteilung Handball des TSV Willsbach“ gegründet, dessen erstrangige Aufgabe es ist die finanzielle Situation der Abteilung nachhaltig zu verbessern.
    
    00/01 Dieter Neumann übernahm ab dem Jahr 2000, von Klaus Burkhard, das Amt des Abteilungsleiters. Die Herrenmannschaft stieg als Vizemeister in die Kreisliga 1 auf.
</p>
<img src="../assets/images/chronicle/chronik_handball_img_7.jpg">
<br /><br />
<p>
    01/02 Unter dem neuen Trainergespann Purzel/Häcker verpassten die Herren mit Platz 2 den Aufstieg in die Bezirksklasse - „Es fehlte nur ein Tor!“
    Im Jugendbereich nahmen sechs Mannschaften am Spielbetrieb teil.
    Mit dem Umzug in das neu errichtete „SportCentrum Obersulm“ begann eine neue Ära für die Handballabteilung. Ausreichend Trainingstermine und Punktspiele vor heimischem Publikum führten zu zahlreichen Meistertiteln.
    
    02/03 waren außer einer Herren- auch bereits sieben Jugendmannschaften zum Spielbetrieb gemeldet. Leider hatte sich das Damenteam zu diesem Zeitpunkt bereits aufgelöst.
    
    03/04 war eine sehr erfolgreiche Saison.
    Die Abteilung war zwischenzeitlich enorm gewachsen:
</p>
<ul>
  <li>9 Jugendmannschaften</li>
  <li>1 Herrenmannschaft</li>
</ul>
<p>Besonders hervorzuheben sind hierbei:</p>
<ul>
  <li>mD-Jugend – Meistertitel</li>
  <li>mB-Jugend - Meistertitel</li>
  <li>und endlich: Herren Aufstieg als Vizemeister in die Bezirksklasse.</li>
</ul>
<p>
    4/05 folgten weitere Meistertitel: Die wD-Jugend wurde Meister in der Bezirksklasse. Unter ihrer neuen Trainerin Ines Bartenbach spielte die mE-Jugend, nach einer erfolgreichen Sommerrunde, erstmals in der Bezirksliga. Mit 28:0 Punkten und 270:138 Toren wurde die mD-Jugend Meister (Trainer H. Rennhofer und C. Seifer).
    Die Herren schafften den Klassenerhalt in der Bezirksklasse.
    
    05/06 Im April 2005 wurde Sigrid Neumann zur Abteilungsleiterin gewählt. Nach Aufstieg und Klassenerhalt der Herren in der Bezirksklasse übernahm Trainer M. Purzel wieder eine Jugendmannschaft. Als Herrentrainer folgte F. Herlan aus Neckarsulm.
    
    Auf unserer Reise durch die „Willsbacher Handball-Historie“ sind wir inzwischen in der Gegenwart (2007) angekommen. Die Abteilung Handball, die in diesem Jahr 61 Jahre alt wird, hat heute mehr Mitglieder als jemals zuvor und kann weiterhin einen regen Zulauf verzeichnen. Zum gegenwärtigen Zeitpunkt sind dies 260 Mitglieder. Im finanziellen Bereich wird sie vom „Förderverein der Abteilung Handball des TSV Willsbach“ unterstützt.
    In der laufenden Runde sind eine Herren- und elf Jugendmannschaften zum Spielbetrieb angemeldet:
</p>
<ul>
  <li>Minis</li>
  <li> mE- und wE-Jugend	1. Platz</li>
  <li>mD1-Jugend	Vizemeister</li>
  <li>mD2-Jugend	Meister mit 20:0 Punkten</li>
  <li>mC-Jugend	3. Platz in der Bezirksliga</li>
  <li>mB-Jugend	4. Platz in der Verbandsliga</li>
  <li>mA-Jugend	leider letzter Platz in der Bezirksliga</li>
  <li>wD-Jugend	nicht an Punktspielen teilgenommen</li>
  <li>wC-Jugend	leider letzter Platz in der Bezirksliga</li>
  <li>wB-Jugend	5. Platz in der Bezirksklasse</li>
  <li>wA-Jugend	3. Platz in der Bezirksklasse</li>
  <li>Herren	Platz im Mittelfeld (Bezirksklasse)</li>
</ul>
<p>
    Folgende Übungsleiter trainieren in der Runde 2006/2007: Joachim Meier, Rainer Schmautz, Oliver Naczinsky, Hans-Jörg Rennhofer, Ines Bartenbach, Marc Neumann, Michael Purzel, Tobias Metzger, Annette Wenninger, Dirk Wenninger, Karin Rieth, Simone Klenk, Frank Pütz, Dagmar Bartenbach, Wolfgang Klenk, Burkhard Matschke und Frank Herlan.
    
    Besonders stolz sind wir auf unsere mB-Jugend, die es geschafft hat, als erste Jugendmannschaft seit Bestehen der Abteilung, in der Verbandsliga zu spielen. 25 Jahre harte Arbeit, aber immer mit viel Spaß dabei, haben sich gelohnt.
    Die Abteilung Handball sagt: „Danke! an alle, die dazu beigetragen haben, dass der Handball in Willsbach zu dem geworden ist was er heute ist.“
</p>
<br />
<p>Sigrid Neumann</p>