<h2 class="heading">{{team.title}}</h2>

<img src="{{team.picture}}" class="img-fluid" alt="{{team.title}}">
<br />
<br />

<div class="text-center">
  <button type="button" class="btn btn-default btn-lg btn-block" [routerLink]="[ './players']">
    <span class="fa fa-address-card"> Trainer & Spieler</span>
  </button>
  <button type="button" class="btn btn-default btn-lg btn-block" [routerLink]="[ './reports']">
    <span class="fa fa-newspaper-o"> Berichte</span>
  </button>
  <button type=" button " class="btn btn-default btn-lg btn-block" [routerLink]="[ './games'] ">
    <span class="fa fa-calendar "> Nächste Spiele</span>
  </button>
  <button type="button " class="btn btn-default btn-lg btn-block" [routerLink]="[ './results'] ">
    <span class="fa fa-bar-chart "> Ergebnisse</span>
  </button>
</div>
<br />
<br />