<h2 class="heading">{{team.title}}</h2>

<img src="{{team.picture}}" class="img-fluid" alt="{{team.title}}">
<br />
<br />

<div>
  <ul class="row">
    <li class="col-6">
      <button type="button" class="btn btn-default btn-lg" [routerLink]="[ './players']">
        <span class="fa fa-address-card"> Trainer & Spieler</span>
      </button>
    </li>
    <li class="col-6">
      <button type="button" class="btn btn-default btn-lg" [routerLink]="[ './reports']">
        <span class="fa fa-newspaper-o"> Berichte</span>
      </button>
    </li>
  </ul>
  <ul class="row">
    <li class="col-6">
      <button type="button" class="btn btn-default btn-lg" [routerLink]="[ './games']">
        <span class="fa fa-calendar"> Nächste Spiele</span>
      </button>
    </li>
    <li class="col-6">
      <button type="button" class="btn btn-default btn-lg" [routerLink]="[ './results']">
        <span class="fa fa-bar-chart"> Ergebnisse</span>
      </button>
    </li>
  </ul>
</div>
<br />