<ol class="breadcrumb">
  <li>
    <a href="#" [routerLink]="[ '/team', teamID ]">{{team.name}}</a>
  </li>
  <li class="active">Mannschaftsfotos</li>
</ol>

<h2 class="heading">Mannschaftsfotos</h2>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngFor="let pic of pictures" class="d-flex flex-wrap">
  <div>
    <div class="p-2">
      <a href="{{pic.url}}" target="_blank" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{pic.url}}" alt="{{pic.alt_text}}">
      </a>
    </div>
    <div class="p-2 text-center">
      <h3>
        <div [innerHTML]="pic.caption"></div>
      </h3>
      <!-- <div [innerHTML]="pic.description.rendered"></div> -->
    </div>
  </div>
</div>