.tag {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    color: var( --clubColor);
    font-weight: bold;
}

.pageinatorContainer {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.page-link {
    color: var( --clubColor);
}