.tag {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    color: #23893b;
    font-weight: bold;
}

.card {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: none;
    border-radius: 0%;
}

.card-img-top {
    border-radius: 0%;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img-overlay {
    padding-top: 0%;
    padding-left: 0%;
}

.card-title {
    color: #23893b;
    border-bottom: 1px solid #CCCCCC;
}