<app-spinner *ngIf="showSpinner"></app-spinner>
<div *ngIf="post !== undefined">
  <h2 class="heading">
    <div [innerHTML]="post.title"></div>
  </h2>
  <div class="d-flex flex-wrap">
    <div class="p-2" *ngFor="let category of post.categories">
      <span class="badge badge-pill club-background">
        <fa-icon [icon]="['fas', 'folder']"></fa-icon>
        {{category.name}}
      </span>
    </div>
  </div>
  <br />
  <div class="postImage">
    <img src="{{post.picture.url}}" class="img-fluid" alt="{{post.title}}">
  </div>
  <br />
  <br />


  <div [innerHTML]="post.content"></div>
  <br />
  <div>
    <div class="d-flex flex-wrap" *ngIf="post.tags?.length > 0">
      <div *ngFor="let category of post.tags" class="p-2">
        <span class="badge badge-pill club-background">
          <fa-icon [icon]="['fas', 'tag']"></fa-icon>
          {{category.name}}
        </span>
      </div>
    </div>
  </div>
  <br />
  <div class="postEnd">
    <small class="mb-2 text-muted">
      <ul class="icons">
        <li>
          <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{post.date | date: 'EE, dd.MM.yyyy HH:mm'}}
        </li>
        <li>
          <fa-icon [icon]="['fas', 'user']"></fa-icon> {{post.author}}
        </li>
      </ul>
    </small>
  </div>

  <div class="SocialShare">
    <share-buttons [show]="4" [showText]="true" [size]="2" [autoSetMeta]="true" [url]="href" [image]="post.picture.url">
    </share-buttons>
    <!-- <share-buttons [include]="['facebook','whatsapp','copy','email','twitter','google','print']" [showText]="true" [showCount]="true"
      [size]="4" [show]="3" [title]="post.title.rendered" [description]="href" [image]="post.thumbnail" [tags]="'tsvWillsbachHandball'"></share-buttons> -->
    <!-- <share-button [button]="'facebook'" [showCount]="true" [title]="post.title.rendered" [image]="post.picture.url"></share-button>
    <share-button [button]="'whatsapp'" [title]="post.title.rendered" [description]="href" [image]="post.picture.url"></share-button>
    <share-button [button]="'twitter'" [title]="post.title.rendered" [image]="post.picture.url" [tags]="'tsvwillsbachhandball'"></share-button>
    <share-button [button]="'copy'"></share-button>
    <share-button [button]="'print'"></share-button>
    <share-button [button]="'email'" [title]="post.title.rendered" [description]="href"></share-button> -->
  </div>
  <br />
</div>