@import '../../../variables';
// gutenberg Style 
@import url('https://wp.willsbach-handball.de/wp-includes/css/dist/block-library/style.min.css');

.postEnd {
    border-top: 1px dashed $color-club;

    ul {
        text-align: right;
    }

    li {
        display: inline;
    }
}

.postImage {
    display: flex;
    align-items: center;
    justify-content: center;
}