<h2 class="heading">{{player.name}}, {{player.prename}}</h2>

<div *ngIf="player.sponsor !== undefined">
  <div class="playerSponsor">
    <h4>wird präsentiert von {{player.sponsor.name}}:</h4>
    <img src="{{player.sponsor.picture}}" class="w-50 img-fluid img-thumbnail mx-auto d-block" alt="Playersponsor">
  </div>
  <br />
</div>

<img src="{{player.picture}}" class="w-50 img-fluid img-thumbnail mx-auto d-block"
  alt="{{player.name}}, {{player.prename}}">
<br />
<br />

<table id="playerInfo" class="w-75 mx-auto d-block table table-responsive table-bordered">
  <tr>
    <td>Name:</td>
    <td>{{player.name}}</td>
  </tr>
  <tr>
    <td>Vorname:</td>
    <td>{{player.prename}}</td>
  </tr>
  <tr>
    <td>Spitzname:</td>
    <td>{{player.nickname}}</td>
  </tr>
  <tr>
    <td>Nummer:</td>
    <td>{{player.number}}</td>
  </tr>
  <tr>
    <td>Position:</td>
    <td>{{player.position}}</td>
  </tr>
  <tr>
    <td>Geburtstag:</td>
    <td>{{player.birthday | date: 'dd.MM.yyyy'}}</td>
  </tr>
  <tr>
    <td>Im Verein seit:</td>
    <td>{{player.joinedClub}}</td>
  </tr>
  <tr>
    <td>Vorherige Vereine:</td>
    <td>
      <div *ngFor="let club of player.lastClubs">
        {{club}}
      </div>
    </td>
  </tr>

</table>
<div *ngIf="player.socialMedia != undefined">
  <h3>Folge {{player.prename}} auf folgenden sozialen Netzwerken:</h3>
  <div>
    <div *ngIf="player.socialMedia.facebook != ''">
      <a href="https://facebook.com/{{player.socialMedia.facebook}}" target="_blank" rel="noopener">
        <span class="sr-only">Facebook</span>
        <!-- <i aria-hidden="true" class="fa fa-facebook-square gray fa-3x"></i> -->
        <fa-icon class="social facebook" [icon]="['fab', 'facebook']" size="3x"></fa-icon>
      </a>
    </div>
    <div *ngIf="player.socialMedia.instagram != ''">
      <a href="https://instagram.com/{{player.socialMedia.instagram}}" target="_blank" rel="noopener">
        <span class="sr-only">Instagram</span>
        <!-- <i aria-hidden="true" class="fa fa-instagram gray fa-3x"></i> -->
        <fa-icon class="social instagram" [icon]="['fab', 'instagram']" size="3x"></fa-icon>
      </a>
    </div>
    <div *ngIf="player.socialMedia.twitter !== ''">
      <a href="https://twitter.com/{{player.socialMedia.twitter}}" target="_blank" rel="noopener">
        <span class="sr-only">Twitter</span>
        <!-- <i aria-hidden="true" class="fa fa-twitter gray fa-3x"></i> -->
        <fa-icon class="social twitter" [icon]="['fab', 'twitter']" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</div>
<br />