<h2 class="heading">{{post.title.rendered}}</h2>
<div class="postImage">
  <img src="{{post.thumbnail}}" alt="{{post.slug}}">
</div>
<br />
<br />

<div [innerHTML]="post.content.rendered"></div>
<br />
<div class="postEnd">
  <small class="mb-2 text-muted">
    <ul>
      <li>
        <i class="fa fa-calendar-o"></i> {{post.date_gmt | date: 'dd.MM.yyyy'}}
      </li>
      <li>
        <i class="fa fa-user-o"></i> {{post.author}}
      </li>
    </ul>
  </small>
</div>

<div class="SocialShare">
  <share-buttons [include]="['facebook','whatsapp','copy','email','twitter','google','print']" [showText]="true" [showCount]="true"
    [size]="4" [show]="3" [title]="post.title.rendered" [description]="post.excerpt.rendered" [image]="post.thumbnail" [tags]="'tsvWillsbachHandball'"></share-buttons>
</div>
<br />