.postEnd {
    border-top: 1px dashed var( --clubColor);
}

.postImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postEnd ul {
    text-align: right;
}

.postEnd li {
    display: inline;
}