@import '../../variables';
.postEnd {
    border-top: 1px dashed $color-club;
    ul {
        text-align: right;
    }
    li {
        display: inline;
    }
}

.postImage {
    display: flex;
    align-items: center;
    justify-content: center;
}