<h2 class="heading">{{player.name}}, {{player.prename}}</h2>

<img src="{{player.picture}}" class="w-50 img-fluid img-thumbnail mx-auto d-block" alt="{{player.name}}, {{player.prename}}">
<br />
<br />

<table id="playerInfo" class="w-75 mx-auto d-block table table-responsive table-bordered">
  <tr>
    <td>Name:</td>
    <td>{{player.name}}</td>
  </tr>
  <tr>
    <td>Vorname:</td>
    <td>{{player.prename}}</td>
  </tr>
  <tr>
    <td>Spitzname:</td>
    <td>{{player.nickname}}</td>
  </tr>
  <tr>
    <td>Nummer:</td>
    <td>{{player.number}}</td>
  </tr>
  <tr>
    <td>Position:</td>
    <td>{{player.position}}</td>
  </tr>
  <tr>
    <td>Geburtstag:</td>
    <td>{{player.birthday}}</td>
  </tr>
  <tr>
    <td>Im Verein seit:</td>
    <td>{{player.joinedClub}}</td>
  </tr>
  <tr>
    <td>Vorherige Vereine:</td>
    <td>{{player.lastClubs}}</td>
  </tr>

</table>
<br />