<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>
<br />
<br />


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Hallo, Gast</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google" aria-hidden="true"></i> Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Hallo, {{ user.displayName }}</h3>
    <br />
    <div class="text-center">
      <button class="btn btn-default btn-lg" [routerLink]="[ '/edit'] ">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Data</button>
      <button class="btn btn-danger btn-lg" (click)="auth.signOut()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
      </button>
    </div>
  </div>
</ng-template>