/* You can add global styles to this file, and also import other style files */

.heading {
    font-size: 3.375rem;
    color: #23893b;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: -.125rem;
    border-bottom: 1px solid #CCCCCC;
}