/* You can add global styles to this file, and also import other style files */

:root {
    --clubColor: #23893b;
}

.heading {
    font-size: 3.375rem;
    color: var( --clubColor);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: -.125rem;
    border-bottom: 1px solid #CCCCCC;
}