<h2 class="heading">Hoppla!</h2>

<div class="text-center">
  <div class="error-404">
    <h1>
      <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      <span> 4</span>
      <fa-icon [icon]="['fas', 'futbol']"></fa-icon>
      <span>4 </span>
      <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    </h1>
    <h1>Seite nicht gefunden</h1>
  </div>
  <br />
  <div>
    <p>
      Bitte benutzen Sie die Navigation, um die korrekten Inhalte anzuzeigen.
    </p>
  </div>
</div>
<br />
