@import '../../variables';

.gray {
    background-color: $color-background;
}

.centered {
    align-self: center;
}

.sponsorLogo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}